
<div class="container-fluid mt-5 ">
  <div class="shadow-sm p-3 bg-light border-top-reviews">
      <div class="row">
        <div class="col-md-8 text-muted">
          <h4><i class="far fa-list-alt"></i> ACCOUNT DETAILS</h4>
        </div>
      </div>
  </div>

  <div class="shadow-sm p-3 mb-5 bg-white rounded  ">
    <div class="row">
      <div class="col-lg-8">
        <%=render'account'%>
      </div>

      <div class="col-lg-4">
        <%=render'subscription'%>
      </div>
    </div>
  </div>
