<div class="container-fluid">
  <div class="shadow-sm p-3 mb-3 bg-light">
      <div class="row">
        <div class="col-md-8 text-muted">
          <h4><i class="fas fa-edit"></i>edit job</h4>
        </div>
        <div class="col-md-4 ">
          <a href="/" class="float-right text-danger"> <i class="fa fa-window-close" data-toggle="tooltip" title="Close"> </i></a>
        </div>
      </div>
  </div>
  </div>
<%= render 'form', job: @job %>
