<section style="margin-top: -65px";>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h3 class="display-4">About us</h3>
      <p class="">@work provides a more efficient and effective way of creating a platform where Job Seekers can upload their CVs for access by the Companies that are looking for staff. Companies can also upload job opportunities on this same platform for Job Seekers to access and apply for.</p>
      <a href="/about" class="btn btn-primary my-2">Read more</a>
    </div>
  </div>
</section>
