<!--<a href="/"><%=image_tag('dlogo.png', width:'40px', height:'auto', class:'navbar-brand')%> </a><span id="logo">@work</span> -->
<a href="/" class:'navbar-brand'><span id="logo" class="text-primary">@work</span> </a>
