<div class="container mt-5 ">
  <div class="shadow-sm p-3 bg-dark border-top-reviews">
    <div class="row">
      <div class="col-md-8 text-light">
        <h4><i class="far fa-bell"></i> Subscribe</h4>
      </div>
    </div>
  </div>

  <div class="shadow-sm p-3 mb-5 bg-white rounded  text-center text-muted ">
    <div class="row">
      <div class="col-lg-12">
        <h3 ><i class="far fa-bell text-danger"></i> <br>Join @work to continue...</h3>
        <p>Subscribe to @work to get unlimited access jobs and service providers.</p>
        <%=link_to'Subscribe now', pricing_path, class:"btn btn-primary"%>
      </div>
    </div>
  </div>
</div>
