<div class="col-lg-12 ">
  <div class="row">
    <div class="search">
      <div class="container">
        <div class="row ">
          <div class="col-xl-7 col-lg-8 ml-auto mr-auto text-center">
            <h3 class="mb-0">Find Jobs on @work</h3>
            <span class="text-white-50"><%=Job.count%> Jobs in South Africa</span>
              <div id="mc_embed_signup">
                <%= form_tag(find_jobs_path, method: :get, class: "form-inline", role: 'search') do %>
                <div class="input-group  ml-auto mr-auto">
                  <%= text_field_tag :term_job, params[:term_job], id: 'job_search', autocomplete: :off, placeholder: 'Search...'%>
                  <div class="input-group-append ">
                    <%= submit_tag 'Search', name: nil, class: "btn btn-light" %>
                  </div>
                </div>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
