
<% if current_user.profile_type == "Individual" %>
<div class="shadow-sm p-3 mb-5 bg-primary text-light">
  <h4>Steps</h4>
  <table class="table table-sm">
    <tbody>
      <tr>
        <td><strong>1</strong> Create Profile  </td>
        <td><i class="fas fa-check-circle"></i></td>
      </tr>
      <tr>
      <td><strong>2</strong> Create CV  </td>
        <%if current_user.cvs.exists? %>
          <td><i class="fas fa-check-circle"></i></td>
        <%else%>
          <td><i class="text-danger fas fa-times-circle"></i></td>
        <%end%>
      </tr>

      <tr>
      <td><strong>3</strong> Upload Documents  </td>
        <%if current_user.documents.exists? %>
          <td><i class="fas fa-check-circle"></i></td>
        <%else%>
          <td><i class="text-danger fas fa-times-circle"></i></td>
        <%end%>
      </tr>

      <tr>
      <td><strong>3</strong> One-time Payment  </td>
          <td><i class="fas fa-check-circle"></i></td>
      </tr>
    </tbody>
  </table>
</div>

<% else current_user.profile_type == "Company" %>
<div class="shadow-sm p-3 mb-5 bg-primary text-light">
  <h4>Steps</h4>
  <table class="table table-sm">
    <tbody>
      <tr>
        <td><strong>1</strong> Create Profile  </td>
        <td><i class="fas fa-check-circle"></i></td>
      </tr>
      <tr>
      <td><strong>2</strong> Add Company Details  </td>
        <%if current_user.company_details.exists? %>
          <td><i class="fas fa-check-circle"></i></td>
        <%else%>
          <td><i class="text-danger fas fa-times-circle"></i></td>
        <%end%>
      </tr>

      <tr>
      <td><strong>3</strong> Post Job  </td>
        <%if current_user.jobs.exists? %>
          <td><i class="fas fa-check-circle"></i></td>
        <%else%>
          <td><i class="text-danger fas fa-times-circle"></i></td>
        <%end%>
      </tr>

      <tr>
      <td><strong>3</strong> One-time Payment  </td>
          <td><i class="fas fa-check-circle"></i></td>
      </tr>
    </tbody>
  </table>
</div>
<%end%>
