<div class="container-fluid mt-5">
  <div class="shadow-sm p-3  bg-dark text-light ">
     <h4><i class="far fa-edit"></i> EDIT REFERANCE</h4>
   </div>
</div>

<div class="container-fluid"><%= render 'form', referral: @referral %></div>
