<% if cv.errors.any? %>
  <div id="error_explanation" class="bg-danger text-light p-3 mb-5">
    <h4><%= pluralize(cv.errors.count, "error") %> prohibited this cv from being saved:</h4>

    <ul>
    <% cv.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
