
<div class="container-fluid mt-5">
  <div class="shadow-sm p-3  bg-dark text-light border-top-reviews  ">
     <h4><i class="far fa-file"></i> CREATE CV</h4>
   </div>
</div>

<% if @cv_count >= 1 %>
 <%=render'cvs/templates/error'%>

<% else %>
<%= render 'form', cv: @cv %>
<% end %>
