<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-image: url(<%= image_path "about.jpg"%>)">
  <h3 class="text-center text-light">Job placement </h3>
</header>


<!-- Main content -->
<div class="container ">
  <div class="row text-justify text-muted">
    <div class="col-lg-8">
        <p> South Africa is faced with a 26.7% unemployment rate. Majority of the unemployment people are the youth. While the youth is struggling to find employment, the are faced with high costs of looking for work. They constantly have to update their CVs mostly at internet cafes which costs them money. They have to go back and forth updating the information on their CVs. Most of them are not even using the correct CV templates that enable them to get employment. We plan to assist the youth   with preparing CVs that will enable them to document their qualifications and skills that will make them get jobs sooner and cheaper.</p>

       <p>Our plan is to have all Job seekers and Companies with TAP scores and TAP Ratings. This will enable the reduction of fraudulent CV’s/Resumes and also falsified qualifications as well as eliminating corrupt companies asking for money from innocent job seekers for jobs that don’t exist. We plan to make it easier for companies to access Job Seekers academic information in a verified platform online. This will make the process of staff sourcing easier and less costly.</p>

    <p class="text-primary">1. Tap score and rating</p>
    Because we vet all the information provided by Job Seekers, recruiting employers should not be worried about doing the same process again. All they need to do is contact the Job Seekers for an interview. If the Job Seeker is appointed, there are NO additional costs for TAP

    </div>
    <div class="col">
      <%=image_tag('about-sm.jpg', class:"img-fluid")%>
    </div>
  </div>
</div>
