<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-image: url(<%= image_path "about.jpg"%>)">
  <h3 class="text-center text-light">Job placement </h3>
</header>
<!-- Main content -->
<div class="container ">
  <div class="row text-justify text-muted">
    <div class="col-lg-8">
        <p>Companies will be able to find the best match for the job in a wide variety of CVs and for job seekers to pursue companies with a high TAP score .</p>
    </div>

    <div class="col">
      <%=image_tag('job_placement.jpg', class:"img-fluid")%>
    </div>
  </div>
</div>
