<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-image: url(<%= image_path "about.jpg"%>)">
  <h3 class="text-center text-light">Verification </h3>
</header>


<!-- Main content -->
<div class="container ">
  <div class="row text-justify text-muted">
    <div class="col-lg-8">
        <p>The ID and qualifications are verified Verifications of references provided Checks for criminal record or other offenses Verify qualifications with all educational institutions and allocate a unique verification number.</p>
    </div>

    <div class="col">
      <%=image_tag('verification.jpg', class:"img-fluid")%>
    </div>
  </div>
</div>
