$white-color                :#fff !important;
$btn-success-color          :#fff !important;


@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "sticky-footer";
@import "announcements";
@import "carousel";
@import "navscroller";
@import "simplemde";
@import "typeahead";
@import "jquery-ui";


// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

@include media-breakpoint-down(sm) {
  .hide {
    display: none;
  }
}


// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;

}

// container-fluid should have a top margin
body > .container-fluid {
    padding: 40px 15px 0;
}


a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
span a{
  color: #fff;
}

/*Profile card 2*/
.profile-card-2 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}
.profile-card-2 .card-body{
    position:relative;
}
.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 15%;
  max-width: 75px;
  border: 3px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-2 h5{
    font-weight:600;
    color:#6ab04c;
}
.profile-card-2 .card-text{
    font-weight:300;
    font-size:15px;
}
.profile-card-2 .icon-block{
    float:left;
    width:100%;
}
.profile-card-2 .icon-block a{
    text-decoration:none;
}

#logo{
  font-weight: bold;
  font-size: 25px;
}

#qualification{
  visibility: hidden;
}

.text-ajust{margin-top: 92px;margin-left: 115px;}
.margin-bottom-20{margin-bottom: 20px;}

.fc-left h2{
  font-size: 25px;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.form-inline{ width: 600px}
.text-success {color: #961c56 !important;}
.disable-links {pointer-events: none;}
.btn {text-transform: uppercase;}
 h4{text-transform: uppercase;}
.jumbotron {border-radius: 1px;}
.btn {border-radius: 1px;}
.badge{border-radius: 1.25rem;}
.form-inline .form-control{border-radius:1px; width: 400px}
.find_jobs_index.card{border-radius: 1px}
.pagelayout{min-height: 100vh; background-color: #f5f5f5;}
.img-border{border: 1px solid #dee2e6;}

.brand-linkedin{color:#0077B5}
.brand-twitter{color:#1da1f2}
.brand-facebook{color:#365899}
.border-top-reviews{border-top: 1px solid #007bff !important }
.display-4 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
