$white-color                :#fff !important;
$btn-success-color          :#fff !important;


@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "sticky-footer";
@import "announcements";
@import "carousel";
@import "navscroller";
@import "simplemde";
@import "material-components-web.min.css";
@import "pricing";
@import "subscriptions";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

@include media-breakpoint-down(sm) {
  .hide {
    display: none;
  }
}

body{
  background: #ecf0f1;
}
// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;

}

// container-fluid should have a top margin
body > .container-fluid {
    padding: 40px 15px 0;
}


a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
span a{
  color: #fff;
}

/*Profile card 2*/
.profile-card-2 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}
.profile-card-2 .card-body{
    position:relative;
}
.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 15%;
  max-width: 75px;
  border: 3px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-2 h5{
    font-weight:600;
    color:#6ab04c;
}
.profile-card-2 .card-text{
    font-weight:300;
    font-size:15px;
}
.profile-card-2 .icon-block{
    float:left;
    width:100%;
}
.profile-card-2 .icon-block a{
    text-decoration:none;
}

#logo{
  font-weight: bold;
  font-size: 25px;
  color:#2980b9 !important
}

#qualification{
  visibility: hidden;
}

.text-ajust{margin-top: 92px;margin-left: 115px;}
.margin-bottom-20{margin-bottom: 20px;}

.fc-left h2{
  font-size: 25px;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.form-inline{ width: 600px}
.text-success {color: #961c56 !important;}
.disable-links {pointer-events: none;}
.btn {text-transform: uppercase;}
 h4{text-transform: uppercase;}
.jumbotron {border-radius: 1px;}
.btn {border-radius: 1px;}
.badge{border-radius: 0.25rem;}
.form-inline .form-control{border-radius:1px; width: 400px}
.find_jobs_index.card{border-radius: 1px}
.pagelayout{min-height: 100vh; background-color: #f5f5f5;}
.img-border{border: 1px solid #dee2e6;}

.brand-linkedin{color:#0077B5}
.brand-twitter{color:#1da1f2}
.brand-facebook{color:#365899}
.border-top-reviews{border-top: 1px solid #007bff !important }
.display-4 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}


.search {
    background-color: #0077B5;
    background-size: cover;
    background: url(asset_path("overlay.svg")),linear-gradient(45deg,#0077B5 0%,#365899 100%);
    color: #fff;
    padding: 5rem 0;
}

.welcome-card {
    background-color: #0077B5;
    background-size: cover;
    background: url(asset_path("overlay.svg")),linear-gradient(45deg,#0077B5 0%,#365899 100%);
    color: #fff;
    padding: 10px;

}

.welcome-card.card{
    border: 0px ;
  }

.input-group-prepend,
.input-group-append {
 display:flex
}
.input-group-prepend .btn,
.input-group-append .btn {
 position:relative;
 z-index:2
}
.input-group-prepend .btn:focus,
.input-group-append .btn:focus {
 z-index:3
}
.input-group-prepend .btn+.btn,
.input-group-prepend .btn+.input-group-text,
.input-group-prepend .input-group-text+.input-group-text,
.input-group-prepend .input-group-text+.btn,
.input-group-append .btn+.btn,
.input-group-append .btn+.input-group-text,
.input-group-append .input-group-text+.input-group-text,
.input-group-append .input-group-text+.btn {
 margin-left:-1px
}
.input-group-prepend {
 margin-right:-1px
}
.input-group-append {
 margin-left:-1px
}
.input-group-text {
 display:flex;
 align-items:center;
 padding:.375rem .75rem;
 margin-bottom:0;
 font-size:1rem;
 font-weight:400;
 line-height:1.5;
 color:#495057;
 text-align:center;
 white-space:nowrap;
 background-color:#e9ecef;
 border:1px solid #ced4da;
 border-radius:.25rem
}
.input-group-text input[type=radio],
.input-group-text input[type=checkbox] {
 margin-top:0
}
.input-group-lg>.form-control:not(textarea),
.input-group-lg>.custom-select {
 height:calc(1.5em + 1rem + 2px)
}
.input-group-lg>.form-control,
.input-group-lg>.custom-select,
.input-group-lg>.input-group-prepend>.input-group-text,
.input-group-lg>.input-group-append>.input-group-text,
.input-group-lg>.input-group-prepend>.btn,
.input-group-lg>.input-group-append>.btn {
 padding:.5rem 1rem;
 font-size:1.25rem;
 line-height:1.5;
 border-radius:.5rem
}
.input-group-sm>.form-control:not(textarea),
.input-group-sm>.custom-select {
 height:calc(1.5em + .5rem + 2px)
}
.input-group-sm>.form-control,
.input-group-sm>.custom-select,
.input-group-sm>.input-group-prepend>.input-group-text,
.input-group-sm>.input-group-append>.input-group-text,
.input-group-sm>.input-group-prepend>.btn,
.input-group-sm>.input-group-append>.btn {
 padding:.25rem .5rem;
 font-size:.875rem;
 line-height:1.5;
 border-radius:.2rem
}
.input-group-lg>.custom-select,
.input-group-sm>.custom-select {
 padding-right:1.75rem
}
.input-group>.input-group-prepend>.btn,
.input-group>.input-group-prepend>.input-group-text,
.input-group>.input-group-append:not(:last-child)>.btn,
.input-group>.input-group-append:not(:last-child)>.input-group-text,
.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle),
.input-group>.input-group-append:last-child>.input-group-text:not(:last-child) {
 border-top-right-radius:0;
 border-bottom-right-radius:0
}
.input-group>.input-group-append>.btn,
.input-group>.input-group-append>.input-group-text,
.input-group>.input-group-prepend:not(:first-child)>.btn,
.input-group>.input-group-prepend:not(:first-child)>.input-group-text,
.input-group>.input-group-prepend:first-child>.btn:not(:first-child),
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child) {
 border-top-left-radius:0;
 border-bottom-left-radius:0
}





figure {
  display: block;
  margin-block-start: 1px;
  margin-block-end: 1px;

}

.g-pa-30 {
  padding: 2.14286rem !important;
}
.g-transition--ease-in-out {
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.g-transition-0_3 {
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
}
[class*="g-transition"] {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.g-rounded-4 {
  border-radius: 4px !important;
}
.g-bg-white {
  background-color: #fff !important;
}
.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.mr-4, .mx-4 {
    margin-right: 1.5rem !important;
}
.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
img {
    vertical-align: middle;
    border-style: none;
}
