<div class="container-fluid">
  <div class="jumbotron text-center text-success">
    <h2>Thanks, you paid <strong>R300.00</strong>!</h2>
    <a href="#" class="btn btn-success">View Profile</a>
  </div>
</div>
